.counter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  main {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  footer {
    width: 100%;
    height: 800px;
    background-color: var(--bg-color);
  }
  .main-button {
    width: 250px;
    height: 250px;
    font-size: 5rem;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--button-color), var(--link-color));
    transition: 0.3s ease;
    text-align: center;
    font-weight: 700;
    box-shadow: 0 20px 40px #667eea66;
    outline: none;

    &:hover {
    }
    &:active {
      scale: 0.95;
    }
  }
  .step-controls {
    display: flex;
    gap: 1rem;
    .step-btn,
    .step-value {
      width: 60px;
      height: 60px;
      font-size: 3rem;
      text-align: center;
    }
    .step-btn {
      border-radius: 10px;
      color: var(--button-text-color);
      box-shadow: 0 4px 6px #0000001a;
      transition: 0.3s;
      &:hover {
        background-color: #3182ce;
        transform: translateY(-2px);
      }
      &:active {
        transform: translateY(2px);
      }
    }
    .step-value {
      color: var(--hint-color);
      font-weight: 700;
    }
    .decrement {
      background-color: var(--destructive-text-color);
      &:hover {
        background-color: #c61717;
      }
    }
  }
  .log{
    display: flex;
    justify-content: space-between;
  }
}
