* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: var(--tg-theme-bg-color, #ffffff);
  --section-bg-color: var(--tg-theme-secondary-bg-color, #f3f2f8);
  --text-color: var(--tg-theme-text-color, #000000);
  --destructive-text-color: var(--tg-theme-destructive-text-color, #ff5047);
  --hint-color: var(--tg-theme-hint-color, #666666);
  --link-color: var(--tg-theme-link-color, #007bff);
  --button-color: var(--tg-theme-button-color, #5ac8fb);
  --button-text-color: var(--tg-theme-button-text-color, #ffffff);
}
.App {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, sans-serif;
  height: 100vh;
  width: 100vw;
  background: var(--section-bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  position: relative;
  .hint {
    color: var(--hint-color);
  }
  .link {
    color: var(--link-color);
  }
  button {
    background: var(--button-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
  }
}

button {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  outline: none; /* Убирает outline при фокусе */
  -webkit-appearance: none; /* Убирает нативные стили на iOS */
  appearance: none;
}